extends layout
block content
    html
        head
        body
        div Started at: #{startTime}
        div Stopped at: #{endTime}
        div Min:  #{min}
        div Sec:  #{sec}
        div
            if startTime == 0
                div
                    form(method="POST", action='/timer/start/')
                        input( type="hidden", name="start", value=startTime)
                        input( type="hidden", name="stop", value=endTime)
                        label(for="start timer")
                        button.col-sm-3.btn.btn-primary(type="submit") Start
                    br
                    form(method="GET", action='/timer/')
                        button.col-sm-3.btn.btn-primary(type="submit") Reset
            else if endTime == 0
                div
                    form(method="POST", action='/timer/stop/')
                        input( type="hidden",name="start", value=startTime)
                        input( type="hidden", name="stop", value=endTime)
                        label(for="start timer")
                        button.col-sm-3.btn.btn-primary(type="submit", value=startTime) Stop
                    br
                    form(method="GET", action='/timer/')
                        button.col-sm-3.btn.btn-primary(type="submit") Reset
            else
                
                div
                    form(method="GET", action='/timer/')
                        button.col-sm-3.btn.btn-primary(type="submit") Reset
        div

        div
            form(method="GET", action='/group')
                input( type="hidden",name="start", value=startTime)
                input( type="hidden", name="stop", value=endTime)
                label(for="start timer")
                button.col-sm-3.btn.btn-primary(type="submit", value=startTime) Group
            
        footer