extends layout
block content
    div(class="timerInfo")
        p(style="font-size:36px;") #{name}
        br
        if startTime == 0
            div
                form(method="POST", action='/timer/start/')
                    input( type="hidden", name="start", value=startTime)
                    input( type="hidden", name="stop", value=endTime)
                    label(for="start timer")
                    button.btn-primary.btn-lg(type="submit") Start
                br
                form(method="GET", action='/timer/')
                    button.btn-danger.btn-sm(type="submit") Reset
        else if endTime == 0
                form(method="POST", action='/timer/stop/')
                    input( type="hidden",name="start", value=startTime)
                    input( type="hidden", name="stop", value=endTime)
                    label(for="start timer")
                    button.btn-primary.btn-lg(type="submit", value="startTime" ) Stop
                br
                form(method="GET", action='/timer/')
                    button.btn-danger.btn-sm(type="submit") Reset
        else if name == "Open"
                form(method="GET", action='/timer/copy')
                        input( type="hidden", name="total", value=min + " : " + sec)
                        label(for="next")
                        button.btn-primary.btn-lg(type="submit" id="next_button" formtarget="_blank") Send To Slack
                br
                form(method="GET", action='/timer/')
                        button.btn-danger.btn-sm(type="submit" ) Reset
                br
        else
                div
                    form(method="GET", action='/timer/next/')
                        input( type="hidden", name="total", value=min + " : " + sec)
                        label(for="next")
                        button.btn-primary.btn-lg(type="submit" id="next_button") Next
                    br
                    form(method="GET", action='/timer/')
                        button.btn-danger.btn-sm(type="submit" ) Reset
                    br
    div
        include partials/counter.pug
    footer
